/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  user-select: none;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
  transition-duration: 0.4s;
}

button:hover {
  /* border-color: #1a1a1a; */
}

.btn-base {
  border-radius: 1em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.btn-base:after {
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.btn-base:active:after {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn-normal {
  background-color: #E8E8E8;
}

.btn-normal:active:after {
  box-shadow: 0 0 0 0 #bdbdbd;
}

.btn-gold {
  background-color: gold;
}

.btn-gold:active:after {
  box-shadow: 0 0 0 0 gold;
}

.btn-fire {
  color: white;
  background-color: #F24405;
}

.btn-fire:active:after {
  box-shadow: 0 0 0 0 #F24405;
}

.btn-science {
  color: white;
  background-color: #0455BF;
}

.btn-science:active:after {
  box-shadow: 0 0 0 0 #0455BF;
}

.science-color {
  color: #0455BF;
}

.tech-btn {
  border: 5px solid white;
}

.tech-btn-next:hover {
  border: 5px solid #0455BF;
}

.tech-btn-active {
  background-color: #a9cbf8;
  border: 5px solid #0455BF;
  color: black;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */